---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="お問い合わせ"
	description="お問い合わせ"
	pubDate={new Date('July 22 2026')}
>
	<h2>お問い合わせ</h2>
	<p>
		お問い合わせフォームは現在準備中です。
		(公開準備フェーズで Google フォームを設置予定)
	</p>
</Layout>
